node_modules/
test.json
groupApi.rar
daemon/**/*
download/image/**/*
download/upload/**/*
download/video/result/**/*
download/video/source/**/*

!download/image/
!download/image/thumbnail/
!download/upload/
!download/video/result/
!download/video/source/